<div class="container">
    <div class="content">
        <header class="header">
            <h1>MINESWEEPER !</h1>
            <button (click)="newGame()">New Game</button>

            <ng-container *ngFor="let difficulty of difficulties">
                <button (click)="newGame(difficulty)">New Game</button>
            </ng-container>
        </header>

        <section class="game">
            <app-board [rows]="rows"></app-board>
        </section>

        <h3 [hidden]="!gameIsOver">Game Over !</h3>

        <footer class="footer">
            <p>Mathieu Ceccato</p>
        </footer>
    </div>
</div>
