<div class="container">
    <div class="content">
        <header class="header">
            <!--<h1>MINESWEEPER !</h1>-->
            <app-timer></app-timer>
            <p>
                Mines left : {{ minesLeft }}
            </p>
        </header>

        <section class="game">
            <app-board [rows]="rows"></app-board>

            <div *ngIf="endGame?.isGameOver" class="end-game">
                <h3 [hidden]="!endGame?.reason">Congratulations, you win !</h3>
                <h3 [hidden]="endGame?.reason">Game Over !</h3>
                <div (click)="newGame()" class="new-game">
                    New game
                </div>
            </div>

            <div class="difficulty-container">
                <ng-container *ngFor="let difficulty of difficulties">
                    <div (click)="setDifficulty(difficulty)"
                         [class.selected]="difficulty.difficulty === currentDifficulty.difficulty"
                         class="difficulty">
                        <span>{{difficulty.name}}</span>
                    </div>
                </ng-container>
            </div>
        </section>


        <footer class="footer">
            <p>Mathieu Ceccato</p>
        </footer>
    </div>
</div>
