<div class="container">
    <div class="content">
        <header class="header">
            <h1>MINESWEEPER !</h1>
        </header>

        <section class="game">
            <app-board [rows]="rows"></app-board>

            <ng-container *ngIf="endGame?.isGameOver">
                <h3 [hidden]="!endGame?.reason">Congratulations, you win !</h3>
                <h3 [hidden]="endGame?.reason">Game Over !</h3>
            </ng-container>

            <div class="difficulty-container">
                <ng-container *ngFor="let difficulty of difficulties">
                    <div (click)="setDifficulty(difficulty)"
                         [class.selected]="difficulty.difficulty === currentDifficulty.difficulty"
                         class="difficulty">
                        <span>{{difficulty.name}}</span>
                    </div>
                </ng-container>
            </div>
        </section>


        <footer class="footer">
            <p>Mathieu Ceccato</p>
        </footer>
    </div>
</div>
