.container {
    height: 100vh;
    //width: 80%;
    //max-width: 900px;
    margin: auto;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .game {
        flex: 1;
    }

    .difficulty-container {
        position: absolute;
        top: 50%;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        transform: translateY(-50%);

        .difficulty {
            display: flex;
            align-items: center;
            width: 120px;
            height: 70px;
            margin: .5rem 0;
            border-width: 2px 0 2px 2px;
            border-style: solid;
            border-color: #fff;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
            cursor: pointer;
            transition: ease .4s;

            span {
                padding-left: 1rem;
            }

            &.selected {
                background-color: #589ad7;
                width: 135px;
            }
        }
    }
}

.header {

}
