@import '../../../assets/scss/colors';

$tile-size: 40px;

.tile {
    height: $tile-size;
    width: $tile-size;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3887d0;
    color: #3887d0;
    border: 2px solid #fff;
    border-radius: 1px;
    margin-top: -2px;
    margin-left: -2px;
    cursor: pointer;

    &:hover {
        background-color: $blue-hover;
    }

    &.is-flagged {
        color: #222;
        box-shadow: inset 0 0 20px #0f0;
        transition: box-shadow ease .3s;
    }

    &.clicked {
        cursor: default;
        background-color: #589ad7;
        transition: background-color ease .3s;

        &.is-mine:not(.is-flagged) {
            color: #222;
            box-shadow: inset 0 0 20px #f00;
            transition: ease .3s;
        }

        &.is-flagged:not(.is-mine) {
            box-shadow: inset 0 0 20px #f00;
            transition: ease .3s;
        }
    }

    .value {
        font-weight: bold;
        font-size: 18px;
        user-select: none;


        &__1 {
            color: #fff;
        }

        &__2 {
            color: #da5499;
        }

        &__3 {
            color: #54da95;
        }

        &__4 {
            color: #d0cd38;
        }

        &__5 {
            color: #da9554;
        }

        &__6 {
            color: #383bd0;
        }

        &__7 {
            color: #94979a;
        }

    }
}
